.filter-section{
    background-color: #fff;
    border-radius:0.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    &__launch-year{
        margin: 0.5rem 0 1rem;
        &--content{
            &-element{
             display: flex;
             justify-content: space-around;
            }
   
        }
        &--type{
            margin: 0 2rem 0.5rem;
            text-align: center;
            border-bottom: 1px solid #b5babc;
        }
    }

    &__successful-launch,&__successful-landing{
        margin-bottom: 1rem;
        &--content{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &--type{
            margin: 0 1rem 0.5rem;
            text-align: center;
            border-bottom: 1px solid #b5babc;
        }
    }
}