button{
    background-color: #C5E09B;
    cursor: pointer;
    padding: .5rem 0.8rem;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin: 0.6rem;
    font-size: 0.9rem;
    cursor: pointer;
   
}

.hide-button{
    visibility: hidden;
}


.landing-button{
    &:hover,&:focus{
        background-color: #7CBA01;
        outline: none;
    }
}


.selected_button{
    background-color: #7CBA01;
    outline: none;
}

