<div *ngIf="(spaceCard| keyvalue)?.length" class="card-section">
    <div class="card-section__content">
        <img class="card-section__content--image" src="{{spaceCard.links?.mission_patch_small}}" alt="spaceX" />
        <div class="card-section__content--details">
            <h6 class="card-section__content--details__name">{{spaceCard.mission_name}} #{{spaceCard.flight_number}}
            </h6>
            <div class="card-section__content--details__mission">
                <h6 class="card-section__content--details__mission-heading">Mission Ids:</h6>
                <ul *ngIf="spaceCard.mission_id.length" class="card-section__content--details__mission-list">
                    <li *ngFor="let id of spaceCard.mission_id" class="card-section__content--details__mission-list_item">{{id}}</li>
                </ul>
            </div>
            <div class="card-section__content--details__year">
                <span class="card-section__content--details__year-bold"> Launch year:</span>{{spaceCard.launch_year}}
            </div>
            <div class="card-section__content--details__launch">
                <span class="card-section__content--details__launch-bold">Successful Launch:</span>{{spaceCard.launch_success}}
            </div>
            <!-- <div class="card-section__content--details__landing">
                <span class="card-section__content--details__landing-bold">Successful Landing:</span>{{}}
            </div> -->
        </div>
    </div>
</div>