.card-section{
    background: #fff;
    margin: 0 0 1rem;
    border-radius:0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 0.9rem;
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    &__content{
        padding: 1rem;
        &--image{
            background-color: #ededed;
            width: 100%;
            margin-bottom: 0.5rem;
            object-fit: contain;
            min-width: 100%;
            min-height: 200px;
        }
        &--details{
            &__name{
                color: #465394;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }
            &__mission{
                margin-bottom: 0.5rem;
                min-height: 4rem;
                font-weight: 700;
                &-list{
                    font-weight: 400;
                    padding-left: 2rem;
                    margin: 0.5rem 0;
                }
            }
            &__year,&__launch,&__landing{
                color: #465394;
                margin-bottom: 0.5rem;
                &-bold{
                    font-weight: 700;
                    color: #000;
                    margin-right: 0.5rem;
                }
                
            }
        }
    }
}
